<h1>Search Courses</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <div class="field">
    <%= f.search_field :name_cont %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.label :grade_eq %>
  <div class="field">
    <%= f.search_field :grade_eq %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.label :avg_eq %>
  <div class="field">
    <%= f.search_field :avg_eq %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
