<!DOCTYPE html>
<html>
<head>
  <title>Ranking Enade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- BOOTSTRAP -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
</head>
<body>

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><%= link_to "Ranking Enade", universities_path, :class => 'navbar-brand' %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a  href="#"> <%= link_to "Universities", universities_path, :class => 'nav-link' %></a>
        </li>
        <li class="nav-item active">
          <a  class = "">  </a>
        </li>
        <li class="nav-item">
          <a href="#"> <%= link_to "Courses", courses_path, :class => 'nav-link' %></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main" class="container" style="margin-top:90px">
  <%= yield %>
</main>

<footer class="footer">
  <div class="navbar fixed-bottom">
    <span class="text-muted">Ranking Enade is build on Rails 4.</span>
  </div>
</footer>

</body>
</html>
